.App {
  text-align: center;
  margin: 15px 50px;


}

.text{
 
  
  font-size: 22px;
  font-weight: bold;
}


input[type=file]{
  display: none;
}


.pdf__container{
  margin: 15px 0;

  border: 3px solid rgb(137, 130, 130);
  background-color: white;
}
