@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Playfair', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
